<div class="flex h-screen bg-[#121212] overflow-hidden text-white font-sans">
  <!-- Barra lateral (Sidebar) -->
  <app-sidebar class="w-64 flex-shrink-0 hidden md:block"></app-sidebar>
  
  <!-- Contenedor principal para Navbar y Contenido -->
  <div class="flex flex-col flex-1 overflow-hidden">
    <!-- Barra superior (Navbar) -->
    <app-navbar></app-navbar>
    
    <!-- Contenido dinámico hijo -->
    <main class="flex-1 overflow-y-auto p-6 bg-[#161616]">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
